<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Indira Ruslanova">
  <title>Emotions</title>
</head>
<link rel="stylesheet" href="/emotions/static/style.css">

<body>
<main>
    <h1>Say 'happy', 'sad', 'scared', 'angry' or 'neutral' to display an emotion one at a time.</h1>
    <h1>Say 'stop' to stop voice recognition.</h1>
    <img class="img" id="girl" src="/emotions/static/neutral.png" alt="Girl">

    <p class="ready"><em>NOT ready to receive your command yet.</em></p>
    <p class="output"><em>The word you said will appear here.</em></p>
    
    <h1 class="reflection">People may perceive<br>emotions differently...</h1>
    <form method="POST" action="/submit">
      <input type="hidden" name="emotion" id="emotionInput">
      <textarea name="response" id="responseInput" rows="5" cols="40" required disabled></textarea><br><br>
      <button type="submit" id="submitBtn" disabled>Submit</button>
    </form>
</main>

</body>

<script type="module" src="/emotions/static/main.js"></script>

</html>